body{
    background-color:rgb(249, 249, 245);
}
.cart1{
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left:auto;
    width:fit-content;
}
.main:hover{
    box-shadow: 2px 2px 10px red;
}
.main1:hover{
    box-shadow: 2px 2px 10px red;
}
.main2:hover{
    box-shadow: 2px 2px 10px red;
}     
.old{
    text-decoration: line-through;
}
.save{
    background-color: rgb(102, 199, 107);
    color: white;
    width:100px;
    margin-top:10px;
    padding: 5px;
    border-radius:10px 0px 10px 0px;
}
.price > .new > b{
    font-size: 25px;
    color: rgb(255, 132, 0);
    margin-left: 30px;
    margin-right: 10px;
}
.buy, .compare{
    background-color: rgb(205, 239, 228);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
.compare{
    margin-bottom: 10px;
}
.btn :hover{
    background-color: rgb(115, 115, 224);
    color: white;
}

.cart2{
    margin-left:auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    width:fit-content;
}
.main3:hover{
    box-shadow: 2px 2px 10px red;
}  
.main, .main1, .main2, .main3, .main4, .main5{
    background-color:rgb(231, 230, 223);
    width:300px;
    height:650px;
    padding:20px;
    margin:10px;
    display:inline-block;
    font-family:sans-serif ;
    border-radius: 20px;

}

.main4:hover{
    box-shadow: 2px 2px 10px red;
}
.main5:hover{
    box-shadow: 2px 2px 10px red;
}

.img{
    text-align: center;
    margin-bottom:20px;
}
a{
    color:black;
    text-align:justify;
    text-decoration:none;
}